.listHeight3 {
	max-height: calc(~"(100vh - 5rem - (1.6rem * 3))/3 - 1rem");
  padding-bottom: 0.5rem;
}

.listHeight2 {
	max-height: calc(~"(100vh - 5rem - (1.6rem * 2))/2 - 1rem");
  padding-bottom: 0.5rem;
}

.listHeight1 {
	max-height: calc(~"100vh - 5rem");
  padding-bottom: 0.5rem;
}
